html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	min-width: 960px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	

}

body{
	background:#000000 url(../img/barbershopIndexBackground.jpg) no-repeat center top;
	color: #ffffff;
}


.innerPage{
	
	background: #f8f5f2 url("../img/patternWhite.png");
	color: #000000;
	
}

.redTest{
	color: red;
}

/*Цвет фона для шапки*/
.mainHeader{
	background-color: #000000;
	color: #ffffff;
	margin-bottom: 60px;
}
/*Цвет ссылок шапки и отключение подчеркивания; 
добавляем отступы */
.mainNavigation a{
	color:#ffffff;
	text-decoration: none;

	display: block;
	padding: 25px 20px;
}

.mainNavigation .innerLogo{
	float: left;
	width: 111px;
	height: 20px;
	padding-top: 25px;
}

.mainNavigation a:hover{
	background-color: #242424;
}

.mainNavigation .innerLogo:hover,
.mainNavigation .active a:hover{
	background-color: #000000;
}

.mainNavigation .active{
	position: relative;
	background: none;
}

.mainNavigation .active::after{
	content: "";
	position: absolute;
	height: 5px;
	background-color: #ffffff;
	bottom: 0;
	right: 20px;
	left: 20px;
}



/*Отключение отступов и декорирования у списка ссылок в шапке*/
.mainNavigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;   /*Прием для корректировки отступов блочно-строчной модели*/
}

.mainNavigation li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}
/*Распорка для float*/
.clearFix::after{
	content: "";
	display: table;
	clear: both;
}
/*Ширина центровщика и его отступы*/
.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;

}
/*ширина центральной навигации и позиционирование по левому краю*/
.mainNavigation{
	width: 780px;
	float:left;
}
/*Ширина кнопки вход и выравнивание по правому краю*/
.userBlock{
	max-width: 140px;
	float:right;
}

.login{
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	padding: 25px 20px;
	padding-left: 50px;

	position: relative;
}
/*иконка для кнопки вход*/
.login::before {
	content: "";
	width: 18px;
	height: 18px;
	background: transparent url(../img/sprite.png);
	background-position: -10px -10px;
	position: absolute;
	top: 28px;
	left: 20px;
	opacity: 0.3;
}

.login:hover::before{
	opacity: 1;
}
.login:hover{
	background-color: #242424;
}
/*Размеры логотипа и его центровка*/
.indexLogo{
	width: 368px;
	height: 204px;
	margin: 0 auto 25px;
}
/*Ширина и выравнивание по правому краю блока особенностей*/
.featuresItem{
	width: 300px;
	float: left;
	margin-right: 20px;

	text-align: center;
}


/*Отмена отступа для последней особенности*/
.featuresItem:last-child {
	margin-right: 0px;
}

.features{
	margin-bottom: 80px;
}

.featureName{
	display: block;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 30px;
	padding-bottom: 35px;
	position: relative;
}

.featuresItem p{
	margin: 10px;
	margin-bottom: 0;
}

.featureName::after{
	content: "";
	width: 20px;
	height: 20px;
	display: block;
	background-color: #ffffff;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10px;
	transform: rotate(45deg);
	
}

.indexContent{
	padding: 50px 80px;
	margin-bottom: 35px;

	background: url(../img/contentShadow.png) no-repeat center, #f8f5f2 url("../img/patternWhite.png") ;
	color: #000000;
}

.indexContentTitle{
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}

.indexContent p{
	margin: 0;
	margin-bottom: 25px;
}

.newsPrev{
	margin: 0;
	padding: 0;
	padding-right: 35px;
	list-style: none;
}

.newsPrev li{
	margin-bottom: 25px;
}

.newsPrev p{
	margin-bottom: 0;
}

.newsPrev time{
	text-transform: none;
}

.btn{
	color: #ffffff;
	background-color: #000000;
	border:none;
	cursor: pointer;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: 'PT Sans Narrow', 'Arial' sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 10px 33px;
	vertical-align: top;
	text-align: center;
	margin-right: 16px;

}

.btn:hover,
.btn:active{
background-color: #663d15;
}

.btn.disabled,
.btn:disabled{
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
	background-color: #000000;
}

.indexContentLeft{
	float: left;
	width: 380px;
}

.indexContentRight{
	float: right;
	width: 300px;
}

.gallery{
	position: relative;
	height: 260px;
}

.galleryContent{
	margin: 0;
	height: 164px;
	background-color: #cccccc;
	border: 7px solid #ffffff;
}

.galleryContent img{
	width: 286px;
	height: 164px;
}

.gallery .btn{
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}

.galleryPrev{
	left: 0;
}

.galleryNext{
	right: 0;
}

.appointmentForm input{
	background-color: #f9f6f3;
	border: 2px solid #000000;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	font-family: 'PT Sans Narrow', 'Arial' sans-serif;
	text-transform: uppercase;
	width: 106px;
	padding: 7px 15px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.appointmentForm input:nth-child(2n){
	margin-right: 0;
}

.appointmentForm .btn{
	clear: both;
	width: 100%;
}

.appointmentForm input:focus{
	border: 2px solid #663d15;
}


/*Стили price*/
.innerPageTitle{
	margin-bottom: 55px;
}

.innerPageTitle h1{
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}

.breadCrumbs{
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadCrumbs li{
	position: relative;
	display: inline;
	padding-right: 40px;
}

.breadCrumbs a{
	color: #000000;
	text-decoration: none;
}

.breadCrumbs a[href]:hover{
	text-decoration: underline;
}

.breadCrumbs li:last-child a{
	color: #aba9a7;
}

.breadCrumbs li::after{
	content: "";
	position: absolute;
	top: 4px;
	right: 18px;
	width: 8px;
	height: 8px;
	background-color: #000000;
	transform: rotate(45deg);
}

.breadCrumbs li:last-child::after{
	display: none;
	
}




.innerContent h2{
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 30px;

}

.bigHeading{
	margin-top: 55px;
	margin-bottom: 65px;
	text-align: center;

}

.bigHeading h2{
	font-size: 48px;
	line-height: 48px;
	display: inline-block;
	margin: 0;
	padding: 0 25px;
	background: #f8f5f2 url("../img/patternWhite.png");
	position: relative;
	z-index: 2;
}

.bigHeading::after{
	content: "";
	display: block;
	border-bottom: 2px solid #000000;
	position: relative;
	top: -25px;
}

.innerContent p{
	margin: 14px 0;
}

.innerContent h2 + h3{
	margin-top: 30px;
}

.innerContent table{
	border-collapse: collapse;

}

.innerContent td{
	padding: 10px 15px;
	border: 2px solid #000000;
}

.pricesTable{
	width: 100%;
}

.pricesTable td{
	width: 50%;
}

.pricesTable td:last-child{
	text-align: center;
}


.customList1{
	margin: 14px 0;
	padding: 0;
	list-style: none;
}

.customList1 li{
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
}


.customList1 li::before{
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	
	width: 8px;
	height: 8px;
	background-color: #000000;
	transform: rotate(45deg);
}

.innerColums{
	margin: 60px 0;

}

.innerColumLeft{
	float: left;
	width: 460px;
}

.innerColumRight{
	float: right;
	width: 460px;
}

.innerColumLeft *:first-child,
.innerColumRight *:first-child{
	margin-top: 0;
}

.innerColumLeft *:last-child,
.innerColumRight *:last-child{
	margin-bottom: : 0;
}

.shortText{
	padding-right: 80px;
}


.wrap{
	min-height: 100%;
	position: relative;
}


.mainFooter{
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #252525 url("../img/patternGrey.png");
	color: #ffffff;
	box-shadow: inset 0px 30px 40px -15px #000;
}

.content{
	padding-bottom: 250px;
}



.footerContacts{
	float: left;
	width: 320px;
	margin-right: 60px;
}

.footerContacts a{
	color: #ffffff;
}

.footerContacts a:hover{
	text-decoration: none;
}

.footerSocial {
	float: left;
	width: 180px;
	text-align: center;
}

.footerSocial p{
	margin: 0;
	margin-bottom: 15px;
}

.socialBtn{
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;

	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #000000 url("../img/sprite.png") no-repeat center;
	transition: 
		background-position 0.5s,
		background-color 0.5s;

}

.socialBtnVk{
	background-position: -1px -33px;

}

.socialBtnVk:hover{
	background-position: -1px -69px;
}

.socialBtnFb{
	background-position: 5px -190px;
}

.socialBtnFb:hover{
	background-position: 5px -232px;
}


.socialBtnInst{
	background-position: 1px -107px;
}

.socialBtnInst:hover{
	background-position: 1px -148px;
}

.socialBtn:hover{
	background-color: #ffffff;
}

.footerCopyright{
	float: right;
	max-width: 180px;

}

.footerCopyright p{
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
}

.footerCopyright .btn{
	margin-right: 0;
	
}

.modalContent{
	display: none;
	width: 300px;
	padding: 50px 80px;
	color: #000000;
	background: #f8f5f2 url("../img/patternWhite.png");
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -230px;
	margin-top: -200px;
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
	z-index: 20;
}

.modalContentShow{
	display: block;
	animation: bounce 0.6s;
}

.modalContentError{
	animation: shake 0.6s;
}


.modalContentClose{
	width: 22px;
	height: 22px;
	font-size: 0;
	line-height: 0;
	background-color: transparent;
	border: 0 ;
	cursor: pointer;
	position: absolute;
	top:0;
	right: -34px;
	

}

.modalContentClose::before,
.modalContentClose::after{
	content: "";
	position: absolute;
	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
	border-radius: 1px;
	top: 10px;
	left: 2px;

}


.modalContentClose::before{
	transform: rotate(45deg);
	transition-duration:0.5s;
}

.modalContentClose::after{
	transform: rotate(-45deg);
	transition-duration:0.5s;
}

.modalContentClose:hover::before{
	transform: rotate(90deg);
	transition-duration:0.5s;
	transform: rotate(135deg);

}

.modalContentClose:hover::after{
	transform: rotate(0deg);
	transition-duration:0.5s;
	transform: rotate(45deg);
	
}

.modalContent h2{
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
	font-weight: 700;
}

.modalContent p{
	margin: 0;
	margin-bottom: 14px;
}

.modalContent .loginForm{
	margin-top: 30px;
	margin-bottom: 10px;
}

.loginForm input[type="text"],
.loginForm input[type="password"]{
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial",sans-serif;
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;
	width: 241px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 15px;
	padding-right: 40px;
	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.loginForm input:focus{
	border-color: #663d15;
}

.loginForm input.iconPassword{
	background-image: url("../img/modalSprite.png");
	background-repeat: no-repeat;
	background-position: 100%  -30px;
	
}

.loginForm input.iconUser{
	background-image: url("../img/modalSprite.png");
	background-repeat: no-repeat;
	background-position: 100%  5px;
}

.loginForm .restore{
	float: right;
	color: #000000;
}

.loginForm .btn{
	width: 100%;
	margin-top: 15px;
}

.loginCheckbox{
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.loginCheckbox:hover{
	color: #663d15;
}

.loginCheckbox input[type="checkbox"]{
	display: none;
}

.loginCheckbox input[type="checkbox"]+.checkboxIndicator{
	position: absolute;
	top: -3px;
	left: 0;
	width: 17px;
	height: 17px;
	border: 2px solid #000000;
}


.loginCheckbox input[type="checkbox"]:checked+.checkboxIndicator::before,
.loginCheckbox input[type="checkbox"]:checked+.checkboxIndicator::after{
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;
	width: 15px;
	height: 2px;
	background-color: #000000;
}

.loginCheckbox input[type="checkbox"]:checked+.checkboxIndicator::before{
	transform: rotate(45deg);
}

.loginCheckbox input[type="checkbox"]:checked+.checkboxIndicator::after{
	transform: rotate(-45deg);
}

.modalContentMap{
	display: none;
	width: 766px;
	height: 561px;
	background: #e9e5dc url("../img/map.png");
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 20;
	margin-top: -260px;
	margin-left: -390px;
	border: 7px solid #ffffff;
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}

.modalOverlay{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}









.modalOverlayShow{
	display: block;
	
}


@keyframes bounce{
	0% {transform: translateY(-2000px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0px);}
}


@keyframes shake{
	0%, 100% {transform: translateX(0px);}
	10%,30%,50%,70%,90% {transform: translateX(10px);}
	20%,40%,60%,80% {transform: translateX(-10px);}
	
}